

#agregarubicacionTrekking, #agregarubicacionNatacion, #agregarubicacionFerry{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 60px; 
    margin-top: 2%; 
}

#contenedor, #contenedorUno, #contenedorDos {
    position: relative;
    display: block;
    text-align: center;
}

.row {
    display: inline-block;
}

#titulo {
    font-style: normal;
    font-size: 350%;
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;

}

#select {
  font-size: 150%;
}

.textoUno {
    font-size: x-large;
}

.textoDos {
    font-size: large;
    font-weight: 400;
}

.textoTres {
    font-size: large;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color:blue
}



